@model TechStoreMVC.Views.Data.Models.Product

<div class="product-card">
    <img src="@Model.ImagePath" alt="@Model.Name" class="product-image" />
    <h5>@Model.Name</h5>
    <p>@Model.Description</p>
    <p><strong>@Model.Price лв</strong></p>
</div>